@mixin glass-morph($type){
  @if $type == 1{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: #efefef;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 1%;
    //box-shadow: 0 25px 35px #262626cc;

  }
  @if $type == 2{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    //color: #efefef;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    //box-shadow: 0 25px 35px #262626cc;

  }
}
.content{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab{
  width: 85%;
  margin: 45px 0 75px 0;
  @include glass-morph(2);
  padding: 0 40px;
}

table{
  width: 65%;
  height: 50%;
  background: none;
  box-shadow: none;

}
.echec{
  display: inline-flex;
  min-width: 35px;
}
.pan{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0 0 0;



  button{
    width: 95%;
    margin: 10px;
  }

  tfoot{
    margin-top: 25px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
tr{
  //background-color: rgba(220, 20, 60, 0.2);
  //background-color: rgba(0, 255, 127, 0.1);
}
tr:hover{
  //background-color: rgba(220, 20, 60, 0.2);
}
.lab{
  color: royalblue;
}
.inf{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 0 10px 0;
  font-weight: bold;
}
.success{
  color: royalblue;
}

.mat-mdc-row{
  .ben{
    background-color: rgba(255, 223, 126, 0.75) !important;
  }
}
mat-grid-list{
  width: 100%;
}
