<div class="content">
  <div class="pan">
    <form  class="row--content" *ngIf="memberObs$|async as memberObs">
      <mat-grid-list cols="1" rowHeight="40px" id="list1">

        <mat-grid-tile rowspan="5">
          <span class="card-img">
            <h2>{{memberObs.nom}}</h2>
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <label>User name: <span> {{user?.name}}</span></label>
        </mat-grid-tile>
<!--        <mat-grid-tile>-->
<!--          <label>Password: <span> {{user?.password}}</span></label>-->
<!--        </mat-grid-tile>-->

      </mat-grid-list>

      <mat-grid-list cols="1" rowHeight="40px" id="list2" >

        <mat-grid-tile>
          <label>Née le: <span>{{memberObs.ddn|date:'dd-MM-yyyy'}}</span></label>
        </mat-grid-tile>
        <mat-grid-tile>
          <label>Profession: <span>{{memberObs.profession}}</span></label>
        </mat-grid-tile>
        <mat-grid-tile>
          <label>Residance: <span>{{memberObs.adresse}}</span></label>
        </mat-grid-tile>
        <mat-grid-tile>
          <label>Contact: <span>{{memberObs.tel}}</span></label>
        </mat-grid-tile>
        <mat-grid-tile>
          <label>Sexe: <span>{{memberObs.sexe}}</span></label>
        </mat-grid-tile>
        <mat-grid-tile>
          <label>N° CNI: <span>{{memberObs.cni}}</span></label>
        </mat-grid-tile>
        <mat-grid-tile>
          <label>Délivrée le:<span>{{memberObs.dcni|date:'dd-MM-yyyy'}}</span></label>
        </mat-grid-tile>
        <mat-grid-tile>
          <label>Parrain: <span>{{memberObs.p1}}</span></label>
        </mat-grid-tile>

      </mat-grid-list>

<!--      <mat-grid-list cols="1" rowHeight="50px">-->


<!--      </mat-grid-list>-->
    </form >
    <div class="options">
      <button mat-raised-button (click)="openDialogBox()">Modifier</button>
    </div>
  </div>
</div>
