<div class="content">
  <span>Liste Membres</span>
  <div class="table">
    <table mat-table
           [dataSource]="mem" multiTemplateDataRows
           class="mat-elevation-z8">
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef>No </th>
        <td mat-cell *matCellDef="let element, index as i">{{i}}</td>
      </ng-container>
      <ng-container matColumnDef="Nom">
        <th mat-header-cell *matHeaderCellDef>Nom </th>
        <td mat-cell *matCellDef="let element" class="nom">{{element.nom}}</td>
      </ng-container>
      <ng-container matColumnDef="Poste">
      <th mat-header-cell *matHeaderCellDef>Poste </th>
      <td mat-cell *matCellDef="let element">{{element.postes[0]?.nom}}</td>
    </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
              <div class="example-element-position"> {{element.sexe}} </div>
              <div class="example-element-symbol"> {{element.profession}} </div>
              <div class="example-element-name"> {{element.tel}} </div>
            </div>
            <div class="example-element-description">
              {{element.nom}}
              <div *ngIf="authService.role.includes('BUREAU')"> <button mat-flat-button color="primary" (click)="reset(element)"> Reinitialiser le compte </button> </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

  </div>
</div>
