<div class="content">
  <div class="tab" id="{{isEnd}}">
    <span class="pan"  >
      <h4> {{cot.nom}} </h4>
      <h1>SEANCE {{cot.rang}}</h1>
    </span>
    <table mat-table [dataSource]="dataSource" class="{{isEnd}}" id="htmlData">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element, index as i" class="{{hasBen[i]}} {{element.enregistrement.rang|enNumber}}">
          <span class="mobile-label"> No. :</span>
          {{i+1}}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element, index as i" class="{{hasBen[i]}}">
          <span class="mobile-label"> Nom :</span>
          {{element.enregistrement.membre.nom}} {{element.enregistrement.rang|enNumber}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Cotisation ({{cot.tauxTontine|money}}) </th>
        <td mat-cell *matCellDef="let element, index as i" class="{{hasBen[i]}}">
          <span class="mobile-label"> Cotisation :</span>

          <span *ngIf="!element.tontine">Non</span>
          <span *ngIf="element.tontine" class="tonine"> Oui </span>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Retard ({{tauxRetard|money}})</th>
        <td mat-cell *matCellDef="let element, index as i" class="{{hasBen[i]}}">
          <span class="mobile-label"> Retard :</span>
          <span *ngIf="element.retard" class="tonine"> Oui </span>
          <span *ngIf="!element.retard" class="retard"> Non </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="echec">
        <th mat-header-cell *matHeaderCellDef> Echec ({{cot.tauxEchec|money}})</th>
        <td mat-cell *matCellDef="let element, index as i" class="{{hasBen[i]}}">
          <span class="mobile-label"> Echec :</span>
          <span *ngIf="element.echec" class="tonine"> Oui </span>
          <span *ngIf="!element.echec" class="echec"> Non </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div class="pan" id="bot">

      <mat-grid-list cols="4" rowHeight="45px" class="pc--mat--grid--list">
        <mat-grid-tile>
          Total : {{total|money}} /{{totalExpet|money}}
        </mat-grid-tile>
        <mat-grid-tile>
          Retard : {{totalRetard|money}} ( {{nbR}} )
        </mat-grid-tile>
        <mat-grid-tile>
          Echec: {{totalEchec|money}} ( {{nbE}} )
        </mat-grid-tile>
        <mat-grid-tile>
          Taux Vente: {{cot.tauxVente|money}}
        </mat-grid-tile>
        <mat-grid-tile>
           Bénéficiaire: {{cot.beneficiaire?.enregistrement?.membre?.nom}}
        </mat-grid-tile>
        <mat-grid-tile>
          Avalise: {{cot.beneficiaire?.avaliste?.membre?.nom}}
        </mat-grid-tile>
        <mat-grid-tile *ngIf="tontine?.type?.code==1">
          Supplement : {{cot.supplement|money}}
        </mat-grid-tile>
        <mat-grid-tile *ngIf="tontine?.type?.code==1">
          Montant beneficier: {{cot.beneficiaire?.tauxRemis}}
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
          <button mat-flat-button class="btn-imprime" (click)="openPDF()">IMPRIMER </button>
        </mat-grid-tile>

      </mat-grid-list>

      <mat-grid-list cols="1" rowHeight="45px" class="mobile--mat--grid--list">
        <mat-grid-tile>
          Total : {{total|money}} /{{totalExpet|money}}
        </mat-grid-tile>
        <mat-grid-tile>
          Retard : {{totalRetard|money}} ( {{nbR}} )
        </mat-grid-tile>
        <mat-grid-tile>
          Echec: {{totalEchec|money}} ( {{nbE}} )
        </mat-grid-tile>
        <mat-grid-tile>
          Taux Vente: {{cot.tauxVente|money}}
        </mat-grid-tile>
        <mat-grid-tile>
          Bénéficiaire: {{cot.beneficiaire?.enregistrement?.membre?.nom}}
        </mat-grid-tile>
        <mat-grid-tile>
          Avalise: {{cot.beneficiaire?.avaliste?.membre?.nom}}
        </mat-grid-tile>
        <mat-grid-tile *ngIf="tontine?.type?.code==1">
          Supplement : {{cot.supplement|money}}
        </mat-grid-tile>
        <mat-grid-tile *ngIf="tontine?.type?.code==1">
          Montant beneficier: {{cot.beneficiaire?.tauxRemis}}
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-flat-button class="btn-imprime" (click)="openPDF()">IMPRIMER </button>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

  </div>
</div>
