<div class="content">
  <div class="tab">
    <span class="pan">
      <h4> {{nom}} </h4>
      <mat-grid-list cols="3" rowHeight="35px">
        <mat-grid-tile><h4>taux :{{tontine.tauxTontine|money}}</h4></mat-grid-tile>
        <mat-grid-tile *ngIf="tontine?.type?.code==2"><h4>taux Echec B :{{tontine.tauxEchecB}}</h4></mat-grid-tile>
        <mat-grid-tile><h4>taux Echec :{{tontine.tauxEchec|money}}</h4></mat-grid-tile>
        <mat-grid-tile><h4>nombre max de part : {{tontine.nbSeances}}</h4></mat-grid-tile>
        <mat-grid-tile><h4>statu : {{tontine.actif? "Active" :"Fermer"}}</h4></mat-grid-tile>
        <mat-grid-tile><h4>cree le : {{tontine.createdAt|date:"jj-mm-yyyy"}}</h4></mat-grid-tile>

      </mat-grid-list>
    </span>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="htmlData">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="S">
        <th mat-header-cell *matHeaderCellDef> S </th>
        <td mat-cell *matCellDef="let element" class="{{getClass(element)}}">
          <span class="mobile-label"> Seance :</span>
          {{element.rang}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element" class="{{getClass(element)}}">
          <span class="mobile-label"> Date :</span>

          {{element.createdAt}} </td>
      </ng-container>

      <ng-container matColumnDef="Cot.">
        <th mat-header-cell *matHeaderCellDef> Cot </th>
        <td mat-cell *matCellDef="let element" class="{{getClass(element)}}">
          <span class="mobile-label"> Cotisation :</span>
          {{nbPart(element.id,element.rang)}} </td>
      </ng-container>

      <ng-container matColumnDef="T.V." *ngIf="type=='Vente'">
        <th mat-header-cell *matHeaderCellDef> T.V. </th>
        <td mat-cell *matCellDef="let element" class="{{getClass(element)}}">
          <span class="mobile-label"> Taux Vente :</span>
          {{element.tauxVente|money}} </td>
      </ng-container>

      <ng-container matColumnDef="Comp.">
        <th mat-header-cell *matHeaderCellDef> Comp </th>
        <td mat-cell *matCellDef="let element" class="{{getClass(element)}}">
          <span class="mobile-label"> Complement :</span>
          {{element.complement|money}} </td>
      </ng-container>
      <ng-container matColumnDef="Supl." *ngIf="type=='Vente'">
        <th mat-header-cell *matHeaderCellDef> Supl </th>
        <td mat-cell *matCellDef="let element" class="{{getClass(element)}}">
          <span class="mobile-label"> Suplement :</span>
          {{getSupl(element.id)}}</td>
      </ng-container>
      <ng-container matColumnDef="Boi." *ngIf="type=='Vente'">
        <th mat-header-cell *matHeaderCellDef> Boi </th>
        <td mat-cell *matCellDef="let element" class="{{getClass(element)}}">
          <span class="mobile-label"> Boisson :</span>
          {{element.tauxTontine}}</td>
      </ng-container>

      <ng-container matColumnDef="Ret.">
        <th mat-header-cell *matHeaderCellDef> Ret </th>
        <td mat-cell *matCellDef="let element" class="{{getClass(element)}}">
          <span class="mobile-label"> Retard :</span>
          {{nbRetard(element.id,element.rang)|money}} </td>
      </ng-container>

      <ng-container matColumnDef="E.P.">
        <th mat-header-cell *matHeaderCellDef> E.P. </th>
        <td mat-cell *matCellDef="let element" class="{{getClass(element)}}">
          <span class="mobile-label"> E.P :</span>

          {{nbPaid(element.id,element.rang)|money}} </td>
      </ng-container>

      <ng-container matColumnDef="E.N.P.">
        <th mat-header-cell *matHeaderCellDef> E.N.P </th>
        <td mat-cell *matCellDef="let element" class="{{getClass(element)}}">
          <span class="mobile-label"> E.N.P :</span>

          {{nbNonPaid(element.id,element.rang)|money}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="bt">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element" class="{{getClass(element)}}">
          <span class="mobile-label"> </span>

          <span>
            <button mat-stroked-button color="primary" routerLink="/public/tontine/affiche/{{idTontine}}/{{element.id}}" *ngIf="element.statut >=2" (click)="selectCot(element)"> Afficher </button>
            <h5 class="primary" *ngIf="element.statut <2"> Non Terminer </h5>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="label" *ngIf="type=='Vente'">
        <td mat-footer-cell *matFooterCellDef colspan="3">

          <h4>TOTAL:</h4>
        </td>
      </ng-container>
      <ng-container matColumnDef="label" *ngIf="type=='Simple'">
        <td mat-footer-cell *matFooterCellDef colspan="2">

          <h4>TOTAL:</h4>
        </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <td mat-footer-cell *matFooterCellDef>
          <span class="mobile-label"> {{type=='Vente'?"Total Vente:":"Total Cotisation"}}</span>

          <h4>{{type=='Vente'?result.get('ventes'):result.get('taux')|money}}</h4>
        </td>
      </ng-container>
      <ng-container matColumnDef="totalComplement">
        <td mat-footer-cell *matFooterCellDef>
          <span class="mobile-label"> Total Complement:</span>

          <h4>{{result.get("compl")|money}}</h4>
        </td>
      </ng-container>
      <ng-container matColumnDef="totalSuplement" *ngIf="type=='Vente'">
        <td mat-footer-cell *matFooterCellDef>
          <span class="mobile-label"> Total Supplement:</span>

          <h4>{{result.get('supl')|money}}</h4>
        </td>
      </ng-container>
      <ng-container matColumnDef="boisson" *ngIf="type=='Vente'">
        <td mat-footer-cell *matFooterCellDef>
          <span class="mobile-label"> Total Boisson:</span>

          <h4 *ngIf="type=='Vente'">{{result.get('boisson')|money}}</h4>
        </td>
      </ng-container>
      <ng-container matColumnDef="totalRt">
        <td mat-footer-cell *matFooterCellDef>
          <span class="mobile-label"> Total Retard:</span>

          <h4>{{result.get('retard')|money}}</h4>
        </td>
      </ng-container>
      <ng-container matColumnDef="totalE.P">
        <td mat-footer-cell *matFooterCellDef>
          <span class="mobile-label"> Total E.P:</span>

          <h4>{{result.get('E.P')|money}}</h4>
        </td>
      </ng-container>
      <ng-container matColumnDef="totalE.N.P">
        <td mat-footer-cell *matFooterCellDef>
          <span class="mobile-label"> Total E.N.P:</span>

          <h4>{{result.get('E.N.P')|money}}</h4>
        </td>
      </ng-container>

      <ng-container matColumnDef="space">
        <td mat-footer-cell *matFooterCellDef >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getTableHeader()"></tr>
      <tr mat-row *matRowDef="let row; columns: getTableHeader();"></tr>
      <tr mat-footer-row *matFooterRowDef="getTableFooter()"></tr>
    </table>

    <section class="pan">
    <span class="border-success" *ngIf="type=='Vente'">
            Total Caisse =  Taux Ventes + Retard + Echec payé + supplement - Boisson - Complement - {{nbToureGratuit}} Tour(s) Gratuit
      </span>
        <span class="border-success" *ngIf="type=='Simple'">
            Total Caisse = Retard + Echec payé - Complement
        </span>
      <h1>Total : {{result.get('total')|money}} </h1>
    </section>
  </div>
<!--  <app-add-member></app-add-member>-->

  <app-classement> </app-classement>
  <div class="actions">
    <button mat-raised-button color="accent" (click)="openOrClose()" *ngIf="role.includes('BUREAU')">{{tontine.actif? "Fermer":"Ouvrire"}} cette tontine</button>
<!--    <button mat-raised-button color="accent" *ngIf="role.includes('BUREAU')" (click)="openPDF()"> Imprimer la liste</button>-->
  </div>
</div>

