<div class="content">
  <div class="tab">
    <span class="pan">
      <h4> {{tontine.nom}} </h4>
    </span>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="intitule">
        <th mat-header-cell *matHeaderCellDef> Intitule </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="seance">
        <th mat-header-cell *matHeaderCellDef> seance </th>
        <td mat-cell *matCellDef="let element"> {{element.rang}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tontine">
        <th mat-header-cell *matHeaderCellDef> Cotisation </th>
        <td mat-cell *matCellDef="let element">
          <span>
            <button mat-stroked-button color="primary" routerLink="{{nextRoute}}{{idTontine}}/{{element.id}}" *ngIf="!(element.statut <2 && !(nextRoute.includes('affiche')))" (click)="selectCotisation(element)"> Afficher </button>
            <button mat-flat-button color="primary" (click)="endCotisation(element)" routerLink="/public/start/seances/{{element.id}}" *ngIf="element.statut <2 && !(nextRoute.includes('affiche'))"> Terminer </button>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>
