p{
  margin-bottom: 1em ;
}
.panel{
  margin: 1em 0;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pan{
  display: flex !important;
  flex-direction: column !important;
  overflow: auto;
  margin: 0 1em;
}

